@import "normalize";

@import "foundation/components/forms";
@import "foundation/components/grid";
@import "foundation/components/tables";


.l-wrapper {
  margin: 20px 30px;
  max-width: 600px;
}

.demoform-field {
  position: relative;
}

.demoform-field_message {
  position: absolute;
  top: -8px;
  right: 4px;
  background: #c0c0c0;
  padding: 0 3px;
  opacity: 0.7;
  font-size: 0.8em;
}