<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Form App</title>
  <link rel="stylesheet" href="/static/css/main.css"/>
</head>
<body>
  <div class="l-wrapper">
    <form method=post action="/process-form" ng-controller="FormCtrl" class="demoform">

      <div class="row">
        <div class="column small-12">
          <label class="demoform-label">
            <input ng-model="name" ng-change="validateName()"
                   ng-class="{error: name_error == true}"
                   name="name" placeholder="Name" type="text" id="name_field"/>
          </label>
          <small ng-show="name_error" class="error">{{ name_error_message }}</small>
        </div>
      </div>

      <div class="row">
        <div class="small-12 column">
          <label class="demoform-field">
            <input ng-model="alias" ng-change="validateAlias()"
                   ng-class="{error: alias_error == true}"
                   name="alias" placeholder="Alias" type="text" id="alias_field"/>
            <span class="demoform-field_message"
                  ng-show="alias_http_stream.waiting()">checking...</span>
          </label>
          <small ng-show="alias_error" class="error">{{ alias_error_message }}</small>
        </div>
      </div>

      <div class="row">
        <div class="small-12 column">
          <input type=submit value=Send class="button">
        </div>
      </div>

      <div class="row">
        <div class="small-12 column">
          <table>
            <tr><td>name:</td><td>{{ name }}</td></tr>
            <tr><td>name_error:</td><td>{{ name_error }}</td></tr>
            <tr><td>name_error_message:</td><td>{{ name_error_message }}</td></tr>
            <tr><td>alias:</td><td>{{ alias }}</td></tr>
            <tr><td>alias_error:</td><td>{{ alias_error }}</td></tr>
            <tr><td>alias_error_message:</td><td>{{ alias_error_message }}</td></tr>
          </table>
        </div>
      </div>
    </form>
  </div>
  <script src="/static/bower_components/angular/angular.js"></script>
  <script src="/static/js/myapp.js"></script>
</body>
</html>